.restaurant-card-container{
    display: flex;
    align-items: center;
    width: 33.33%;
    padding: 10px;
    box-sizing: border-box;
    cursor: pointer;
}

.restaurant-card-container img{
    width: 160px;
    height: 100px; 
    opacity: 1;
    border-radius: 8px;
    margin-right: 15px; 
    object-fit: cover;
    flex-shrink: 0; 
}

.restaurant-info-container{
    flex: 1; 
    min-width: 0; 
    /* overflow: hidden;  */
}

.restaurant-info-container h1{
    font-family: "DM Sans";
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #334155;
    margin: 0 0 5px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.restaurant-info-container p{
    font-family: "DM Sans";
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0px;
    color: #64748B;
    margin: 0 0 5px 0;
}