.wrong-route{
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.not-found-container{
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.not-found-container img{
    max-width: 269px;
max-height: 297px;
opacity: 1;

}

.not-found-container h1{
    color: #1E293B;
    font-family: "DM Sans";
font-weight: 700;
font-size: 32px;
line-height: 48px;
letter-spacing: 0%;
text-align: center;

}

.not-found-container p{
    color: #475569;
    font-family: "DM Sans";
font-weight: 400;
font-size: 20px;
line-height: 32px;
letter-spacing: 0%;
text-align: center;

}

.not-found-container button{
  border-radius: 8px;
  background-color: rgba(247, 147, 30, 1);
  color: rgba(255, 255, 255, 1);
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  vertical-align: middle;
  border: none;
  padding: 6px;
}