.home-section{
  overflow: hidden;
}
.restaurant-list-section {
  width: 100%;
    background-color: #ffffff;

}

.restaurant-details {
    width: 100%;
  max-width: 1200px;  
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;

}

.restaurant-content-container {
  /* display: flex;
  justify-content: column;
  align-items: center;
  gap: 10px; */
}



.restaurant-content-container h1 {
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  letter-spacing: 0px;
  color: #183b56;
}

.restaurant-content-container p {
  font-family: "DM Sans";
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0px;
  color: #64748b;
}

/* .filter-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.filter-container section{
  font-weight: 500;
  color: #475569;
} */

.filter-container {
  display: flex;
  font-family: "DM Sans";
  font-weight: 500;
  align-items: center;
  gap: 6px;
  color: #475569; 
  font-size: 14px;
}

.filter-container select {
  border: none;
  background: transparent;
  color: inherit;
  font: inherit;
  cursor: pointer;
  outline: none;
  padding-right: 20px;
}

.home-section-divider{
    max-width: 1200px;
}


/* .popular-restaurnats{
    max-width: 1200px;
    padding: 10px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
} */

.popular-restaurnats{
    max-width: 1200px;
    padding: 10px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.pagination-section{
  font-family: Bree Serif;
font-weight: 400;
font-size: 20px;
line-height: 100%;
letter-spacing: 0%;
text-align: center;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}
