/* .nav-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #f8fafc;
  position: fixed;
  top: 2px;
  width: 100vw;
  gap: 10px;
  padding: 10px;
} */


.nav-container {
  background-color: #f8fafc;
    position: fixed;
    top: 0px;
    width: 100vw;
    padding: 10px 0;
    z-index: 1;
}

.nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  gap: 10px;
}


.brand-container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.brand-logo {
  max-width: 53px;
  max-height: 43px;
  opacity: 1;
}

.logout-btn{
  border-radius: 8px;
  background-color: rgba(247, 147, 30, 1);
  color: rgba(255, 255, 255, 1);
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  vertical-align: middle;
  border: none;
  padding: 6px;
}

.brand-name {
  color: rgba(247, 147, 30, 1);
  font-weight: 700;
  font-size: 20px;
  line-height: 22px;
  letter-spacing: 0px;
}

.nav-items-container{
  display: flex;
  align-items: center;
  gap: 21px;
  border-style: none;
}

.nav-link {
  text-decoration: none;
  color:#334155;
  font-weight: 700;
  font-size: 16px;
}

.nav-link:hover {
  color: #f7931e;
}
.mb-menu{
  display: none;
}

.mb-nav-items-container{
  display: none;
}

@media screen and (max-width:768px) {
  .mb-menu{
    display: block;
    cursor: pointer;  
  }

  .mb-nav-items-container.open{
    display: flex;
    flex-direction: column;  
    gap: 16px;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;       
    padding: 16px;      
  }

  .nav-items{
            display: flex;
        align-items: center;
        gap: 57px;
        width: 100%;
        margin: 8px;
    }
  

  .nav-items-container{
    display: none;
  }
}