.slider-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}


.slider-container {
    max-width: 933px;
    position: absolute;
    top: 89px;
}

.slider-container img{
    width: 100%;          
  height: 350px;        
    object-fit: cover;    
  border-radius: 12px;
}


@media screen and (max-width:768px) {
    .slider-container {
   width: 100%;
    position: absolute;
    top: 89px;
}
}