.footer-section{
    background-color: #0F172A;
    width: 100vw;
    /* position: fixed; */
    /* bottom: 0px; */
    padding: 10px 0;
    /* z-index: 1; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    font-family: "DM Sans";
}